:root {
    --azul-e: #001d35;
    --azul-c: #b8d6ef;
    --azul: #001C55;
    --cinza2: #e9f2f9;
    --laranja: #C17817;
    --preto: #0A100D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.app {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}